body {
    background-image: url('https://images4.alphacoders.com/242/242556.png');
    background-repeat: no-repeat;
    object-fit: cover;
}
.gthrone{
    left: 0;
    background-size: cover;
    height:-1%;
    width: 85%;
}

.smallCard:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 15px 15px #f3d31d;
    -webkit-box-shadow: 0px 0px 15px 15px #d69110ef;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    object-fit: cover;

}


.slider {
    display: flex;
    cursor: grab;
}

.slider-container {
    margin: 2 auto;
    overflow-x: hidden;
}